# Data Science Tools and Ecosystem

## Author
Jason Gammon

In this notebook, Data Science Tools and Ecosystem are summarized.

**Ojectives:**
* Data Science Languages
* Data Science Libraries
* Arithmetic Expressions

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib

| Data Science Tools |
| :----------------- |
| Jupyter Notebooks  |
| RStudio            |
| Visual Studio Code |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [8]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [9]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60 
print(f"{minutes} minutes is equal to {hours} hours")

200 minutes is equal to 3.3333333333333335 hours